* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif; 
    background-color: white;
    justify-content: center; 
}

header {
    text-align: center;
    background-color: #7a1d1d;
    padding: 20px; 
    
}
header .logo {
    width: 100px;
}
  
  header nav a:hover {
    color: #ff3b3b; 
  }
nav img {
    max-width: 100%; 

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding: 10px 0; 
}

li {
    list-style: none;
    margin: 0 15px; /
}

a {
    text-decoration: none;
    color: aliceblue;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; 
    padding: 50px;
    justify-items: center;

}

button{
    background-color: #5f0000;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  
 
    
}
#boxproducto {
    width: 250px;
  background-color:#7a1d1d; /* Fondo oscuro para los productos */
  border-radius: 8px;
  border: 1px solid #5e1d1d;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px #5e1d1d;
  justify-content: center;
}
footer {
    text-align: center; 
    padding: 20px;
    background-color: #7a1d1d; 
    color: white; 
}

.botonescontador{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#icono-carrito {
    position: relative;
    display: inline-block;
    margin-left: 20px; /* Alineación a la derecha */
}

#icono-carrito img {
    width: 50px; /* Tamaño de 50px */
    height: 50px; /* Mantener proporciones */
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #6f4f28;
        width: 100%;
        text-align: right;
        padding: 20px;
    }
    .nav-links.active {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}

